nav {
  height: 150px;
  width: 100%;
  background-color: var(--backcolor);
}

nav .logo {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}
nav .logo img {
  width: 100%;
  height: 90px;
  /* background-color: black; */
  border-radius: 10px;
}

nav .nav-links {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
nav .nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  width: 200px;
  text-align: center;
}


.active-link{
  background-color: rgba(255, 255, 255, 0.349);
  border-bottom: 2px white solid;
  padding: 5px;
}
