<div class="container w-50 mt-5">
  <div class="alert alert-success text-center fw-bold" role="alert">
    Ajout d'une actualité
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Titre</label>
  </div>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Contenu</label>
  </div>
  <button class="btn w-100 mt-3" id="addButton">Ajouter</button>
</div>
