<div class="container mt-3">
  <button class="btn mb-3" id="addButton" routerLink="/addActus">
    Ajouter
  </button>
  <div class="row">
    @for (actualite of actualites; track $index) {
    <div class="col-6">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              style="height: 250px; width: 100%"
              src="{{ actualite.photo }}"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ actualite.titre }}</h5>
              <p class="card-text">{{ actualite.contenu }}</p>
              <p class="card-text">
                <small class="text-body-secondary">Il y a 3 min</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
