<div class="container mt-3">
  <button class="btn mb-3" id="addButton" routerLink="/addLutteur">
    Ajouter
  </button>
  <!-- <p class="text-white px-3 pt-2">list-lutteur works!</p> -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for (lutteurecurie of lutteursEcuries; track $index) {
      <div class="col">
        <div class="card" id="card" >
          <img src="{{lutteurecurie.photo}}" class="card-img-top" alt="..." id="imageLutteur"/>
          <div class="card-body">
            <h5 class="card-title">{{lutteurecurie.nom}}</h5>
            <div class="d-flex justify-content-start align-items-center">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Lutte_s%C3%A9n%C3%A9galaise_Bercy_2013_-_Mame_Balla-Pape_Mor_L%C3%B4_-_32.jpg" alt="" style="height: 50px;width: 50px; border-radius: 50%;">
              <p class="card-text mx-2">
                Ecurie : {{lutteurecurie.nom_ecurie}}

              </p>

            </div>
          </div>
        </div>
      </div>
    }


  </div>
</div>
