/* You can add global styles to this file, and also import other style files */
:root
{
  /* --backcolor:#FFD700; */
  --backcolor:#008000;
  --backcolorclair:#0080003b;
  /* --backcolor:#0000FF; */
}


#addButton
{
  background-color: white;
  color: #008000;
  width: 49%;
  font-weight: bold;
}
